<div class="container-fluid">
    <h3>Por favor, ingrese sus datos</h3>
    <div class="row g-3">
        <div class="col-md-6">
            <form [formGroup]="formPerfil" (ngSubmit)="onSubmit()" class="row g-3">
                <div class="col-12">
                    <label for="rut" class="form-label col-md-4">RUT: </label>
                    <input id="rut" type="text" formControlName="rut" class="form-control"
                        [class.is-valid]="rutControl?.valid"
                        [class.is-invalid]="
                          rutControl?.touched && rutControl?.invalid
                        "/>
                    <div *ngIf="rutControl?.hasError('required')" class="invalid-feedback"
                    >
                        Este campo es requerido
                    </div>
                    <div *ngIf="rutControl?.hasError('pattern')" class="invalid-feedback"
                    >
                        El formato del RUT es incorrecto
                    </div>
                </div>
                <div class="col-12">
                    <label for="nombres" class="form-label">Nombres: </label>
                    <input id="nombres" type="text" formControlName="nombres" class="form-control"
                        [class.is-valid]="nombresControl?.valid"
                        [class.is-invalid]="
                          nombresControl?.touched && nombresControl?.invalid
                        "/>
                    <div
                    *ngIf="nombresControl?.hasError('required')"
                        class="invalid-feedback"
                    >
                        Este campo es requerido
                    </div>
                </div>
                <div class="col-12">
                    <label for="apellidos" class="form-label">Apellidos: </label>
                    <input id="apellidos" type="text" formControlName="apellidos" class="form-control"
                        [class.is-valid]="apellidosControl?.valid"
                        [class.is-invalid]="
                          apellidosControl?.touched && apellidosControl?.invalid"/>
                    <div *ngIf="apellidosControl?.hasError('required')" class="invalid-feedback"
                    >
                        Este campo es requerido
                    </div>
                </div>
                <div class="col-12">
                    <label for="email" class="form-label">Correo electrónico: </label>
                    <input id="email" type="text" formControlName="email" class="form-control"
                        [class.is-valid]="emailControl?.valid"
                        [class.is-invalid]="
                          emailControl?.touched && emailControl?.invalid"/>
                    <div *ngIf="emailControl?.hasError('required')" class="invalid-feedback"
                    >
                        Este campo es requerido
                    </div>
                    <div *ngIf="emailControl?.hasError('pattern')" class="invalid-feedback"
                    >
                        El email no está formateado correctamente
                    </div>       
                </div>
                <div class="col-12">
                    <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento: </label>
                    <input id="fechaNacimiento" type="date" formControlName="fechaNacimiento" class="form-control"
                        [class.is-valid]="fechaNacimientoControl?.valid"
                        [class.is-invalid]="
                          fechaNacimientoControl?.touched && fechaNacimientoControl?.invalid"/>
                    <div *ngIf="fechaNacimientoControl?.hasError('required')" class="invalid-feedback"
                    >
                        Este campo es requerido
                    </div>                   
                </div>
                <div class="col-12">
                    <label for="direccion" class="form-label">Dirección: </label>
                    <input id="direccion" type="text" formControlName="direccion" class="form-control"
                        [class.is-valid]="direccionControl?.valid"
                        [class.is-invalid]="
                          direccionControl?.touched && direccionControl?.invalid"/>
                    <div *ngIf="direccionControl?.hasError('required')" class="invalid-feedback"
                    >
                        Este campo es requerido
                    </div>       
                </div>
                <div class="col-12">
                    <label for="comuna" class="form-label">Comuna: </label>
                    <input id="comuna" type="text" formControlName="comuna" class="form-control"
                        [class.is-valid]="comunaControl?.valid"
                        [class.is-invalid]="
                          comunaControl?.touched && comunaControl?.invalid"/>
                    <div *ngIf="comunaControl?.hasError('required')" class="invalid-feedback"
                    >
                        Este campo es requerido
                    </div> 
                </div>
                <div class="col-12">
                    <label for="region" class="form-label">Región: </label>
                    <input id="region" type="text" formControlName="region" class="form-control"
                        [class.is-valid]="regionControl?.valid"
                        [class.is-invalid]="
                          regionControl?.touched && regionControl?.invalid"/>
                    <div *ngIf="regionControl?.hasError('required')" class="invalid-feedback"
                    >
                        Este campo es requerido
                    </div> 
                </div>
                <div class="col-12">
                    <label for="telefono" class="form-label">Teléfono: </label>
                    <input id="telefono" type="text" formControlName="telefono" class="form-control"
                        [class.is-valid]="telefonoControl?.valid"
                        [class.is-invalid]="
                          telefonoControl?.touched && telefonoControl?.invalid"/>
                    <div *ngIf="telefonoControl?.hasError('required')" class="invalid-feedback"
                    >
                        Este campo es requerido
                    </div>
                    <div *ngIf="telefonoControl?.hasError('pattern')" class="invalid-feedback"
                    >
                        El teléfono no está formateado correctamente
                    </div>                             
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>   
            </form>


        </div>
        <div class="col-md-6">
            <pre>{{ formPerfil.status }}</pre>
            <pre>{{ formPerfil.value | json}}</pre>
        </div>
    </div>
</div>